[program:sentry-worker]
command=/usr/bin/sentry run worker
environment=SENTRY_CONF="/etc/sentry"
user={{ sentry.user }}
autostart=True
autorestart=True
stdout_logfile=/var/log/sentry/sentry-worker_stdout.log
stderr_logfile=/var/log/sentry/sentry-worker_sterr.log
redirect_stderr=True
stopsignal=QUIT
