[program:sentry-cron]
command=/usr/bin/sentry run cron
environment=SENTRY_CONF="/etc/sentry"
user={{ sentry_user }}
autostart=True
autorestart=True
stdout_logfile=/var/log/sentry/sentry-cron_stdout.log
stderr_logfile=/var/log/sentry/sentry-cron_sterr.log
redirect_stderr=True
stopsignal=QUIT
